 *{
 	margin: 0;
 	padding: 0;
 }
 #header{
 	position:absolute;
 	z-index: 10;
 	width:100%;
 }
 .navbar{
 	padding: 50px 0;
 }
 .navbar-brand{
 font-weight: 600;
 font-size: 1.56em;
 }
 .navbar-dark .navbar-brand{
 	color: #dcdde1;
 }
 .nav-item{
 	font-weight:600;
 	text-transform: uppercase;
 	padding-left: 10px;
 }
 .navbar-dark .navbar-nav .nav-item .nav-link:hover {
background: #dcdde1;
color:#262626;
 }
 .main{
 	position: relative;
 	background:url(img.jpg);
 	min-height: 100vh;
 	background-size: cover;
 	background-position: center;
 	padding: 230px 100px;
 	color: white;
 }
 @media(max-width: 768px){
 	.main{
 		padding: 200px 0;
 	}
}

 footer{
 	background:#212121;
 	padding:50px 20px;
 }
 footer .container{
 	width: 100%;
 	max-width: 11000px;
 	margin: 0 auto;
 	display: flex;
 	align-items: flex-start;
 	justify-content: space-between;
 	flex-wrap: wrap;
 }
 footer .ftr h3{
 	font-size: 1.4em;
 	margin-bottom: 1.12em;
 	color:#fff;
 }
 footer .content{
 	list-style: none;
 }
 footer .content a{
 	text-decoration: none;
 	color: #fff;
 	opacity: 0.6;
 	line-height: 30px;
 	transition: 0.3s ease opacity;
}
footer .content a:hover{
	opacity: 1;
}
footer .ftr {
	flex-basis: 18%;
}
form{
	display: flex;
	align-items: center;
	width: 100%;
}
input{
	border: none;
	outline: none;
	padding: 10px;
	margin: 5px 0;
	background: #f5f5f5;
}
.btn input{
	background: #0b2c41;
	color: #fff;
	transition: 0.3s ease background;
}
.btn input:hover{
	background: #000;
}
@media only screen and (max-width: 540px){
	footer .ftr{
		flex-basis: 80%;
		margin: 0 auto;

	}
	form{
		flex-direction: column;
	}
	form input{
		width: 90%;
		margin: 5px auto;
	}
}